# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb

# Streamlit
.streamlit/secrets.toml

# Local logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Private datasets
*.csv
*.xlsx
*.xls

# Model files ignored by default
*.pkl
*.joblib

# Deployment model
!models/production_model.pkl
